<li id="post-<%=post._id%>">
                   
    <%if( (locals.user) && (locals.user.id==post.user.id) ){%>
<small>
    <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">delete</a>
</small>
<%}%>
<h3 style="display: inline-block;"><%=post.user.name%>:-</h3>
<span> <%=post.content%><span>
<div class="post-comments">
   <%if(locals.user){%>
        <form action="/comments/create" id="new-comment-form" method="POST">
            <input type="text" name="content" placeholder="type here to comment...">
            <input type="hidden" name="post" value="<%=post._id%>">
            <button type="submit">Add</button>
        </form>
<%}%>
<div class="post-comments-list" >
    <ul id="post-comments-<%=post._id%>">
        <%for(comment of post.comments){%>
            <%-include('_comment.ejs')-%>
        <%}%>
    </ul>
</div>
</div>
</li>
