<h1>Home Page </h1>
<section id="feed-posts">
    <h4>Posts</h4>
     <%if(locals.user){%> 
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content"  cols="38" rows="3" placeholder="type here.."></textarea>
        <button type="submit">Submit</button>
    </form>
     <%}%>
    <div id="posts-list-container">
        <ul>
            <%for(post of posts){%>
             
                <li>
                  
                   <h3 style="display: inline-block;"><%=post.user.name%>:-</h3>
                   <span> <%=post.content%><span>
                   <div class="post-comments">
                       <%if(locals.user){%>
                            <form action="/comments/create" method="POST">
                                <input type="text" name="content" placeholder="type here to comment...">
                                <input type="hidden" name="post" value="<%=post._id%>">
                                <button type="submit">Add</button>
                            </form>
                    <%}%>
                    <div class="post-comments-list" >
                        <ul id="post-comments-<%=post._id%>">
                            <%for(comment of post.comments){%>
                                <li><%= comment.content %>:  <%= comment.user.name %></li>    
                            <%}%>

                        </ul>
                    </div>
                   </div>
                </li>
             <%}%>
        </ul>
    </div>
</section>

  
